<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Userbi</servlet-name>
        <servlet-class>servlet.Userbi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceso</servlet-name>
        <servlet-class>servlet.acceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearBSC</servlet-name>
        <servlet-class>servlet.crearBSC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createExcel</servlet-name>
        <servlet-class>servlet.createExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createLista</servlet-name>
        <servlet-class>servlet.createLista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readExcel</servlet-name>
        <servlet-class>servlet.readExcel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Userbi</servlet-name>
        <url-pattern>/Userbi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceso</servlet-name>
        <url-pattern>/acceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearBSC</servlet-name>
        <url-pattern>/crearBSC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createExcel</servlet-name>
        <url-pattern>/createExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createLista</servlet-name>
        <url-pattern>/createLista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readExcel</servlet-name>
        <url-pattern>/readExcel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ReportesG.jsp</welcome-file>
    </welcome-file-list>
</web-app>
